.banner-wrapper {
  background-color: rgba(0, 0, 0, 0.193);
  margin: 0;
  height: 5rem;
  @media (max-width: 992px) {
    height: 7rem;
  }
  .banner-list {
    margin: auto;
    padding: 1.3rem 25% 0 25%;
    display: grid;
    place-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(6, 1fr);
    h5,
    .prices {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    .muted {
      color: rgba(216, 216, 216, 0.638);
    }
    .prices {
      margin-top: 3px;
      display: flex;
    }

    @media (max-width: 992px) {
      padding-left: 5%;
      padding-right: 5%;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      justify-content: space-between;
    }
  }
  .banner-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: white;
    flex-direction: row;
    @media (max-width: 992px) {
      padding: 0.2rem 0;
    }
  }

  h3,
  h4 {
    margin: 0;
  }
}
.text-red {
  color: red;
}
.text-green {
  color: rgb(0, 208, 0);
}
