.events-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8% 0;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: 3rem;
    color: $light;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
  }
}

.events-container {
  margin: 5% 0;
  padding: 0 10%;
  height: 100%;
  display: grid;
  gap: 2%;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 1500px) {
    padding: 0 5%;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1100px) {
    padding: 50px 25%;
    grid-template-columns: 1fr;
  }
  @media (max-width: 992px) {
    padding: 50px 15%;
  }
  @media (max-width: 632px) {
    padding: 50px 1%;
  }
}

.event-card {
  height: max-content;
  border-radius: 15px;
  background: rgb(26, 26, 26);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    .event-card-content {
      padding: 2% !important;
      padding-bottom: 5% !important;
    }
  }

  h1 {
    margin-bottom: 3rem;
    color: $turquoise;
    font-size: 2rem;
    text-align: start;
  }
  h3 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 2rem;
  }
  img {
    height: 250px;
    width: 100%;
    border-radius: 2px;
  }
  a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  p {
    font-family: sans-serif;
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 100;
    margin: 1% 0;
    max-height: 105px;
    overflow: hidden;
  }
  button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: white;
    text-decoration: underline;
  }
}
.event-card-title {
  width: 100%;
  h1 {
    margin-bottom: 10px;
  }
  p {
    color: rgb(184, 184, 184);
  }
  @media (max-width: 992px) {
    h1 {
      font-size: 1.3rem;
    }
    p {
      font-size: rem;
    }
  }
}

.event-card-content {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h5 {
    margin-top: 10px;
  }
}
.event-info {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 0;
    margin-right: 20px;
  }
}
