#favourites-page {
  margin-top: 5%;
  h1 {
    padding: 50px 100px;
    text-align: center;
    color: $light;
    font-weight: 100;

    @media (max-width: 992px) {
      padding: 0;
    }
  }
  .container {
    background: lighten($dark, 5);
    padding: 50px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.coin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid $dark;
  transition: all 1s ease;
  h3 {
    display: inline;
    margin: 0 5px;
    color: $light;
    font-weight: 100;
  }
  button {
    cursor: pointer;
    font-size: 0.7em;
    height: 100%;
    padding: 0.5em 0.2em;
    outline: none;
    border: none;
    border-radius: 5px;
    background: none;
    color: lighten($red, 10);

    &:hover,
    &:focus {
      color: lighten($red, 20) !important;
    }
    &:focus {
      box-shadow: 0 0 0 1px black;
    }
  }
}
