.footer-wrapper {
  position: relative;
  margin-top: 100px;
  border-top: 1px solid white;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  max-width: 60%;
  .footer-content {
    padding: 2rem 10%;
    margin-top: 2rem;
    h6 {
      font-weight: bolder;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li > a {
    font-size: 1rem;
    color: rgb(157, 157, 157) !important;
  }
  p {
    margin-top: 40px;
  }
}
.footer-title {
  position: absolute;
  top: -10px;
  img {
    width: 10rem;
  }
  a {
    color: white !important;
    font-size: 1rem;
    text-decoration: none;
  }
}
