.footer-wrapper {
  position: relative;
  margin-top: 100px;
  border-top: 1px solid white;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;

  .footer-content {
    padding: 30px 10%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li > a {
    font-size: 0.9rem;
    color: rgb(157, 157, 157) !important;
  }
  p {
    margin-top: 40px;
  }
}
.footer-title {
  position: absolute;
  top: -10px;
  a {
    color: white !important;
    font-size: 1rem;
    text-decoration: none;
  }
}
