.form {
  padding: 1rem 2rem;
  background-color: rgba(lighten($dark, 10), 10);
  width: max-content;
  border: 1px solid lighten($dark, 20);
  box-shadow: 2px 2px 5px 0 darken($dark, 20), -2px -2px 5px 0 lighten($dark, 20);
  input {
    min-width: 20rem;
  }
}
