#form-wrapper {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: max-content;
  display: grid;
  place-items: center;
  backdrop-filter: blur(2px);
  transition: all 0.4s ease-in;
  opacity: 0;
}
.modal-body {
  display: grid;
  place-items: center;
  form {
    padding: 2% 5%;
    width: 85% !important;
    input,
    button {
      width: 100% !important;
    }
    button {
      margin-top: 1rem;
      background-color: rgba($turquoise, 0.3);
      backdrop-filter: blur(5px);
      border: 0;
      color: white;
    }
    button {
      &:hover {
        background-color: rgba($turquoise, 0.5);
      }
    }
  }
}
.form-alert {
  text-align: center;
  display: flex;
  margin: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px;
  color: white;
  transition: all 1s ease;
  &:is(.successful) {
    background-color: rgba(0, 200, 0, 0.2);
  }
  &:is(.unsuccessful) {
    background-color: rgba(200, 0, 0, 0.4);
  }
}

.modal-content {
  background-color: rgba(0, 30, 38, 0.9) !important;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  .modal-header {
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
    padding: 0;
  }

  .close {
    margin-right: 1rem;
    margin-top: 0.5rem;
    color: white;
  }
}
.confirm-modal {
  form {
    padding-bottom: 2rem;
  }

  .delete-button {
    width: 50% !important;
    margin: 0 auto;
    font-weight: bolder;
    padding: 0.5rem 0;
    border-radius: 0.7rem;
    background: rgb(255, 0, 0);
    color: white;
    outline: none;
    border: 1px solid red;
    transition: background 0.3s ease;
    &:hover {
      background: rgba(200, 0, 0, 0.4) !important;
    }
  }
}
