.home-page-wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  place-items: center;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 992px) {
    padding: 0;
  }
}

.trades-wrapper {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  @media (max-width: 992px) {
    width: 90%;
  }
  h1 {
    font-size: 2.5rem;
    margin-top: -1.2rem;
    margin-bottom: 1.2rem;
  }
}

.clipped-path {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.clipped-path2 {
  clip-path: polygon(100% 0, 99% 0, 99% 100%, 100% 100%);
}
.home-page-wrapper-outter {
  @include home-page-padding();
}
.jumbotron-wrapper {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin-top: -5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include home-page-padding();
  height: 40rem;
  background-color: black;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3cpath d='M1360.14 159.72a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1358.42 175.63a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1356.71 191.53a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14zM1355 207.44a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14zM1347.66 126.19a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1345.94 142.1a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1344.23 158a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14zM1342.52 173.91a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14zM1335.18 92.66a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1333.46 108.57a5.6 5.6 0 1 0-1.2 11.13 5.6 5.6 0 1 0 1.2-11.13zM1331.75 124.47a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14zM1330.04 140.38a5.6 5.6 0 1 0-1.2 11.14 5.6 5.6 0 1 0 1.2-11.14z' stroke='rgba(214%2c 2%2c 255%2c 0.06)' stroke-width='2.61' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M495.77 10.54L484.14 15.91 476.35 5.75 464.73 11.12 456.94 0.95 445.31 6.32 437.52-3.84M497.69 2.77L486.06 8.14 478.27-2.02 466.65 3.35 458.86-6.82 447.23-1.45 439.44-11.61M499.61-4.99L487.98 0.38 480.19-9.79 468.56-4.42 460.77-14.58 449.15-9.21 441.36-19.38' stroke='rgba(4%2c 229%2c 255%2c 0.05)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1105%26quot%3b)' x='855.56' y='317.92' fill='url(%23SvgjsPattern1106)' transform='rotate(348.03%2c 885.56%2c 347.92)'%3e%3c/rect%3e%3cpath d='M253.05 46.02a5.6 5.6 0 1 0-3.64 10.6 5.6 5.6 0 1 0 3.64-10.6zM247.85 61.16a5.6 5.6 0 1 0-3.64 10.59 5.6 5.6 0 1 0 3.64-10.59zM242.65 76.29a5.6 5.6 0 1 0-3.64 10.59 5.6 5.6 0 1 0 3.64-10.59zM237.45 91.42a5.6 5.6 0 1 0-3.64 10.59 5.6 5.6 0 1 0 3.64-10.59zM248.31 10.56a5.6 5.6 0 1 0-3.64 10.59 5.6 5.6 0 1 0 3.64-10.59zM243.11 25.69a5.6 5.6 0 1 0-3.64 10.6 5.6 5.6 0 1 0 3.64-10.6zM237.91 40.82a5.6 5.6 0 1 0-3.63 10.6 5.6 5.6 0 1 0 3.63-10.6zM232.72 55.96a5.6 5.6 0 1 0-3.64 10.59 5.6 5.6 0 1 0 3.64-10.59z' fill='rgba(4%2c 229%2c 255%2c 0.05)'%3e%3c/path%3e%3crect width='372.48' height='372.48' clip-path='url(%26quot%3b%23SvgjsClipPath1107%26quot%3b)' x='410.97' y='223.96' fill='url(%23SvgjsPattern1108)' transform='rotate(352.07%2c 597.21%2c 410.2)'%3e%3c/rect%3e%3crect width='227.8' height='227.8' clip-path='url(%26quot%3b%23SvgjsClipPath1109%26quot%3b)' x='271.95' y='-103.33' fill='url(%23SvgjsPattern1110)' transform='rotate(8.32%2c 385.85%2c 10.57)'%3e%3c/rect%3e%3crect width='348.48' height='348.48' clip-path='url(%26quot%3b%23SvgjsClipPath1111%26quot%3b)' x='-158.26' y='-122.33' fill='url(%23SvgjsPattern1112)' transform='rotate(178.08%2c 15.98%2c 51.91)'%3e%3c/rect%3e%3cpath d='M1218.21 521.67L1230.26 525.99 1228.69 538.7 1240.74 543.03 1239.17 555.74 1251.22 560.06 1249.65 572.77' stroke='rgba(4%2c 229%2c 255%2c 0.05)' stroke-width='2.54' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1113%26quot%3b)' x='1034.92' y='96.56' fill='url(%23SvgjsPattern1114)' transform='rotate(184.49%2c 1064.92%2c 126.56)'%3e%3c/rect%3e%3cpath d='M698.26 51.14L707.62 59.88 701.15 70.93 710.51 79.67 704.04 90.72 713.4 99.46 706.93 110.51' stroke='rgba(214%2c 2%2c 255%2c 0.06)' stroke-width='1' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='83.6' height='83.6' clip-path='url(%26quot%3b%23SvgjsClipPath1115%26quot%3b)' x='378.09' y='381' fill='url(%23SvgjsPattern1116)' transform='rotate(55.97%2c 419.89%2c 422.8)'%3e%3c/rect%3e%3cpath d='M1029.06 197.66 L982.44 296.98L946.0123433668447 187.58234336684464z' fill='rgba(214%2c 2%2c 255%2c 0.06)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1106'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(214%2c 2%2c 255%2c 0.06)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1105'%3e%3ccircle r='15' cx='885.56' cy='347.92'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='372.48' height='11.64' patternUnits='userSpaceOnUse' id='SvgjsPattern1108'%3e%3crect width='372.48' height='5.82' x='0' y='0' fill='rgba(214%2c 2%2c 255%2c 0.06)'%3e%3c/rect%3e%3crect width='372.48' height='5.82' x='0' y='5.82' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1107'%3e%3ccircle r='93.12' cx='597.21' cy='410.2'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6.7' height='6.7' patternUnits='userSpaceOnUse' id='SvgjsPattern1110'%3e%3cpath d='M0 6.7L3.35 0L6.7 6.7' stroke='rgba(214%2c 2%2c 255%2c 0.06)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1109'%3e%3ccircle r='56.95' cx='385.85' cy='10.57'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.92' height='7.92' patternUnits='userSpaceOnUse' id='SvgjsPattern1112'%3e%3cpath d='M3.96 1L3.96 6.92M1 3.96L6.92 3.96' stroke='rgba(214%2c 2%2c 255%2c 0.06)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1111'%3e%3ccircle r='87.12' cx='15.98' cy='51.91'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1114'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(214%2c 2%2c 255%2c 0.06)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1113'%3e%3ccircle r='15' cx='1064.92' cy='126.56'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='83.6' height='8.36' patternUnits='userSpaceOnUse' id='SvgjsPattern1116'%3e%3crect width='83.6' height='4.18' x='0' y='0' fill='rgba(4%2c 229%2c 255%2c 0.05)'%3e%3c/rect%3e%3crect width='83.6' height='4.18' x='0' y='4.18' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1115'%3e%3ccircle r='20.9' cx='419.89' cy='422.8'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  h1 {
    font-size: 4.5rem;
  }
  @media (max-width: 700px) {
    text-align: center;
    h1 {
      font-size: 3.5rem;
    }
  }
}
.trades-content {
  padding: 0 0 2rem 0;
  height: 33rem;
  border-radius: 0.3rem;
  overflow-y: auto;
}
.trade-card-label,
.trade-card {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  color: $light;
  border-bottom: 1px solid $light;
  padding: 1rem;
  p {
    margin: 0;
  }
}
.trade-card {
  background-color: lighten($dark, 5) !important;
}
.trade-card-label {
  font-weight: bold;
  background-color: lighten($dark, 3);
  position: sticky;
  color: $light;
  padding: outset 0 2rem;
  top: 0rem;
}
