.myaccount-wrapper {
  padding: 0 20%;
}
.myaccount-card {
  border-radius: 20px;
  padding: 50px 20px;
  width: 50%;
  margin: 5% auto;
  color: white;
  background: $card-bg;
  box-shadow: 0 0 10px rgb(16, 12, 12);
}
.myaccount-card-title {
  text-align: center;
  color: $light;
}

.myaccount-card-item {
  padding: 0 10%;
  h6 {
    display: inline-block;
  }
  text-align: start;
  display: flex;
  justify-content: space-between;
}
