.navbar {
  z-index: 1 !important;
  background: none;
  font-family: "Montserrat", sans-serif;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 992px) {
    justify-content: start;
  }
  @media (max-width: 1200px) {
    padding: 10px 5%;
  }

  .nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    i {
      padding: 0 5px;
    }
  }
  #menu-toggler {
    z-index: 99999;
    display: none;
    background: none;
    border: none;
    font-size: 3em;
    cursor: pointer;
    color: white;
    &:focus {
      box-shadow: 0 0 2px black;
    }
    @media (max-width: 992px) {
      display: initial;
      position: absolute;
      top: 0;
      right: 20px;
    }
  }
  #navbar-title {
    z-index: 9999;
    width: 200px;
    height: auto;
    @media (max-width: 992px) {
      img {
        width: 100px !important;
        height: auto;
      }
    }
  }

  .toggle {
    transform: translateY(600px);
  }
  div {
    z-index: 99999;
    width: 600px;
    justify-content: space-between;
    #nav-links-container {
      display: flex;
      align-items: center;
      z-index: 9999;
      flex-direction: row;

      .nav-link {
        z-index: 10000;
        padding: 10px;
        font-size: 1.3rem;
        text-decoration: none;
        transition: all 0.2s ease;
        color: white;
        &:hover {
          opacity: 0.5;
        }
      }

      // Turns into hamburger menu
      @media (max-width: 992px) {
        transition: transform 0.5s ease;
        position: absolute;
        padding-top: 100px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: -600px;
        height: 500px;
        width: 100vw;
        left: 0;
        background-color: $dark;
      }
    }
  }
}
