.navbar {
  background: $dark;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
    i {
      padding: 0 5px;
    }

    &:focus,
    &:hover {
      color: darken(white, 20) !important;
    }
  }

  @media (max-width: 992px) {
    a:not(#navbar-title),
    .dropdown-toggle {
      font-size: 1.5rem;
      padding: 1rem 5rem;
    }
  }
}

.active {
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: turquoise;
    bottom: 0;
    left: 0;
    animation: animate2 0.5s ease-in forwards alternate;
  }
}
#navbar-title {
  img {
    z-index: 9999;
    width: 7rem !important;
    height: auto;
  }
  @media (max-width: 992px) {
    img {
      height: auto;
    }
  }
}
@keyframes animate2 {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.dropdown-toggle {
  background-color: $dark;
}
.dropdown-menu {
  background-color: $dark;
}
