.news-page-wrapper {
  h1 {
    margin: 3rem 0;
    font-size: 4rem;
    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }
}

.news-article-card {
  border-radius: 0.6rem;
  background: lighten($dark, 5);
  overflow: hidden;
  color: $light;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 1rem auto !important;
  a:not(.news-article-card-link) {
    display: grid;
    place-items: center;
  }
  img {
    width: 100%;
    min-width: 100% !important;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    img {
      padding: 0;
      max-width: 100% !important;
      height: auto !important;
    }
    @media (max-width: 500px) {
      img {
        padding: 0;
      }
      .news-article-card-content {
        padding: 0.5rem !important;
      }
    }
  }
  img {
    height: auto;
    max-width: 25rem;
  }
  .news-article-card-content {
    padding: 0.5rem 2rem;
    overflow-x: hidden;

    .card-title {
      text-align: start;
      margin-bottom: 0;
    }
    a {
      color: rgb(50, 164, 240);
      font-size: 1.3rem;
    }

    h1 {
      transform-origin: left center;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}
