@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
//variables
$turquoise: #1eebf2;
$dark: #212326;
$grey: #686d76;
$light: #eeeeee;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $dark;
  height: max-content;
  overflow: hidden;

  //prettier-ignore
}
#background-images {
  opacity: 0.04;
  position: relative;
  z-index: -100;
  #image1 {
    width: 100%;
    position: absolute;
    left: 50px;
  }
  #image2 {
    width: 10%;
    position: absolute;
    right: 0;
    top: -100px;
  }
  @media (max-width: 850px) {
    opacity: 0.01;
  }
}

.navbar {
  z-index: 1000;
  background: none;
  font-family: "Montserrat", sans-serif;
  padding: 20px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    padding: 20px 1%;
    justify-content: space-around;
  }
  #navbar-title {
    background: url("../assets/Group\ 15.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
  }
  .nav-link {
    font-size: 1.3rem;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.2s ease;
    color: white;
    &:hover {
      opacity: 0.5;
    }
    &:not(:last-child) {
      margin: 0 30px 0 0;
    }

    &:last-child {
      border: 1px solid white;
      &:hover {
        background-color: rgba($turquoise, 0.6);
        opacity: 1;
      }
    }
  }
}
#landing-page {
  z-index: 100;
  padding: 0 13%;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  #header-image {
    width: 500px;
  }
  @media (max-width: 1200px) {
    #header-image {
      width: 400px;
    }
  }
  @media (max-width: 850px) {
    flex-direction: column;
    position: relative;
    #header-image {
      z-index: -100;
      opacity: 0.016;
      position: absolute;
      width: 100% !important;
    }
  }
}

#header {
  width: 550px;
  height: 350px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  p {
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
    margin-top: 0;
    margin-bottom: 40px !important;
  }
  button {
    cursor: pointer;
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
    color: $turquoise;
    background: none;
    border: 1px solid $turquoise;
    transition: background 0.3s ease;
    &:hover {
      color: black;
      background: lighten($turquoise, 20);
    }
  }

  // media queries
  @media (max-width: 600px) {
    height: 300px !important;
    width: 90%;
    img {
      width: 350px;
    }
    p {
      font-size: 1.2rem !important;
    }
    button {
      height: 40px !important;
      width: 130px !important;
    }
  }
}

#crypto-page {
  margin-top: 5%;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;
  }
}

#cards-container {
  border: 1px solid white;
  width: max-content;
  background: lighten($dark, 5);
  padding: 100px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, max-content);
  gap: 10px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, max-content);
  }
  .card {
    cursor: pointer;
    display: grid;
    place-items: center;
    margin: auto auto;
    width: 80px;
    height: 40px;
    color: rgb(226, 226, 226);
    background: rgb(255, 56, 189);
    background-color: lighten($dark, 10);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    h5 {
      margin: 0;
      font-weight: 1000 !important;
    }
    &:hover {
      h5 {
        color: black !important;
      }
      background-color: lighten($grey, 60);
    }
  }
}

#form-wrapper {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  transition: all 0.4s ease-in;
  #close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
  }
  form {
    position: relative;
    width: 30%;
    padding: 50px 0 50px 0;
    background-color: lighten($dark, 10);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(0, 0, 0);

    #form-header {
      padding: 0 40px;
      margin: 0 auto 50px auto;
      font-weight: bolder;
    }
    #form-content {
      padding: 0 100px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: space-around;
      #input-div {
        display: flex;
        flex-direction: column;
        label {
          font-size: 1.2rem;
          color: white;
        }
        #phone-number {
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 5px;
          border: none;
        }
      }
      #form-button {
        cursor: pointer;
        font-size: 1rem;
        padding: 10px;
        background: $turquoise;
        outline: none;
        border: 1px solid $turquoise;
        color: white;
        border-radius: 5px;
        width: 40%;
        margin: 0 auto;
        transition: all 0.2s ease;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

        &:hover {
          background: none;
          transform: translate(-1px, -1px);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.fade-out {
  animation: fadeOutAnimation 0.2s forwards linear;
}

.fade-in {
  animation: fadeInAnimation 0.2s forwards linear;
}
.display-none {
  display: none !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
