@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons";
@import "bootstrap";

@import "./variables"; //variables
@import "./navbar";
@import "./cards";
@import "./favourites";
@import "./spinner";
@import "./firebaseui";
@import "./form";
@import "./banner";
@import "./events";
@import "./news";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $dark;
  height: max-content;
  overflow-x: hidden;
  position: relative;
  //prettier-ignore
}

#background-images {
  opacity: 0.04;
  position: relative;
  z-index: -100;
  #image1 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #image2 {
    width: 10%;
    position: absolute;
    right: 0;
    top: -100px;
  }
  @media (max-width: 850px) {
    opacity: 0.01;
  }
}

#landing-page {
  position: relative;
  z-index: 100;
  padding: 2% 13%;
  height: 300px;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  #header-image {
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $turquoise;
    width: 100vw;
    bottom: -100px;
    transform: rotate(-1.5deg);
  }
  @media (max-width: 850px) {
    flex-direction: column;
    position: relative;
    #header-image {
      z-index: -100;
      opacity: 0.016;
      position: absolute;
      width: 100% !important;
    }
  }
}

#header {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  p {
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    margin-top: 0;
    margin-bottom: 40px !important;
  }
  button {
    cursor: pointer;
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
    color: $turquoise;
    background: none;
    border: 1px solid $turquoise;
    transition: background 0.3s ease;
    &:hover {
      color: black;
      background: lighten($turquoise, 20);
    }
  }

  // media queries
  @media (max-width: 600px) {
    height: 300px !important;
    width: 90%;
    img {
      width: 350px;
    }
    p {
      font-size: 1.2rem !important;
    }
    button {
      height: 40px !important;
      width: 130px !important;
    }
  }
}

.logged-out-header {
  text-align: center;
  margin-top: 300px;
  font-size: 3rem;
  font-family: "Poppins";
  color: $light;
}
#spinner {
  width: 100%;
  height: 100%;
}
